<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
	<meta http-equiv='x-ua-compatible' content='ie=edge'> <title>Our Book Collection</title>
	<!-- Font Awesome -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
	<!-- Bootstrap core CSS --> <link href='bootstrap.min.css' rel='stylesheet'>
	<!-- Material Design Bootstrap --> <link href='mdb.min.css' rel='stylesheet'>
	<!-- My Own CSS --> <link href = "style.css" rel = "stylesheet">
</head>
<body>


<!-- Main navigation -->
<header>
	<div class = "header">
		<a class="navbar-brand" href="/purchase"><img src="books.png" style = "width: 150px; height: 150px; margin: 20px; "></a>
		<h1  class="card-title h1-responsive mb-5 rubik" style = "display: inline;">Lending Library </h1>
		<p class="mx-5 mb-5 karla" style = "display: inline;"> Revolutionizing modern book thrifting. Engaging readers. Cheap finds. Good reads. Recognizing different authors.</p>
	</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed karla">
		<div class="container">
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
						<ul class="navbar-nav mr-auto smooth-scroll">
								<li class="nav-item">
										<a class="nav-link" href="/" data-offset="90">Purchase</a>
								</li>
								<li class="nav-item">
										<a class="nav-link" href="/donate" data-offset="90">Donate</a>
								</li>
								<li class="nav-item">
										<a class="nav-link" href="/about" data-offset="90">About</a>
								</li>
								<li class="nav-item">
										<a class="nav-link" href="/contactus" data-offset="90">Contact Us</a>
								</li>
						</ul>

				</div>
		</div>
</nav>
<!-- Navbar -->
</header>

<!-- Container -->
<div class="container">
	<br> <br>
	
	<h2 class="h1-responsive font-weight-bold text-center mb-5 karla"> Questions? Fill out the form below, and we will reach out to you soon. </h2>
	<!-- Default form login -->
	<form class="text-center border border-light p-5">		
			<!-- Email -->
			<input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" style = "width:  250px;">
			<!-- Input -->
			<input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Type your question here" style = "height: 200px;">
			<!--Submit-->
			<input type = "submit" value = "Submit"> 
		</form>
	<!-- Default form login -->

	<h2 class="h3-responsive font-weight-bold text-center mb-5 karla">Feel free to contact us through any of the following: </h2>

	<div style = "margin: auto; font-size: 30px; text-align: center;">
		<a type="button" class="light-blue-text mx-2">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a type="button" class="light-blue-text mx-2">
			<i class="fab fa-twitter"></i>
		</a>
		<a type="button" class="light-blue-text mx-2">
			<i class="fab fa-linkedin-in"></i>
		</a>
		<a type="button" class="light-blue-text mx-2">
			<i class="fab fa-github"></i>
		</a>
	</div> <br> <br> <br>
</div>
<!-- Container -->
</body>
</html>
