body {
	background-color: #ffffff;
}
.header {
	background-color: #f15208
}
img {
	height: 400px;
	width: 250px;
}
.jumbotron {
	width: 90%;
    margin: auto;
	text-align: center;
}
.card {
	width: 300px;
    margin: 40px;
	display: inline-block;
	float: center;
}
.card-footer {
	height: 50px;
    width: 265px;
}

/* fonts */
@font-face{
	font-family: rubik;
	src:url(Rubik-Black.ttf);
}
@font-face{
	font-family:karla;
	src:url(Karla-Regular.ttf);
}

/* Implementing fonts */
.rubik {
	font-family: rubik;
}
.karla {
	font-family: karla;
}

/* buttons on homepage*/
.button {
	border-radius: 5%;
	border:none;
	background-color: #eeff41;
	text-align: center;
	color: black;
	padding: 5px;
	font-family:karla;
	width: 100px;
}
.b1 {
	position: fixed;
	bottom: 10%;
	right: 3%;
}
.b2 {
	position: fixed;
	bottom: 2%;
	right: 3%;
}
.titleJumbotron {
	width: 100%;
	padding:0px;
	margin: 0px;
	position: absolute;
	top:0;
}
.card-text {
	height: 80px;
	overflow-y:scroll;
}

/* Star ratings*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    position: relative;
    text-align: center;

  }
  .rating > span {
    display: inline-block;
    position: relative;
    color: #09c;
    font-size: 30px;
    width: 30px;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    cursor: pointer;
    color: #09c;
    -webkit-animation: mymove 2s;
    animation: mymove 2s;
    animation-direction:normal;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes mymove {
    from {color: #94e8ff;}
    to {color: #09c;}
  }
table {
  border-color: #f15208;
  width: 30%;
  padding: 20px;
  text-align: center; 
  margin: auto;
}

th {
	width: 60%;
	float: up; 
}
td {
	text-align: center;
}
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #f15208;
  color: white;
}